<div  class="footer-container">

    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px" >

    <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="1rem">
        <p  style="color: rgb(252, 252, 252);"> Proyecto Análisis y Diseños de sistemas</p>
        <p  style="color: rgb(252, 252, 252);"> Implementación de CU_3</p>


        <div fxLayout="row" fxLayoutGap="1rem">
            <p  style="color: rgb(252, 252, 252);"> Realizado por:</p>
            <p  style="color: rgb(252, 252, 252);"> Joan Salmerón Jiménez</p>
            <p  style="color: rgb(252, 252, 252);"> Maikel Sánchez</p>
            <p  style="color: rgb(252, 252, 252);"> Henry Moreno</p>

        </div>

    </div>





</div>
<div  fxLayoutAlign="end end">
    <p  style="color: rgb(252, 252, 252);"> © Derechos reservados. Universidad de Costa Rica.</p>
     </div>

</div>

