<section id="ofertaLaboralTable">
  <div class="container">
      <div class="row">

          <div class="text-center">
              <h2>Ofertas Laborales</h2>
          </div>

          <div class="col-md-12 col-sm-12">

              <div class="table-responsive">
                  <!--
                  <div class="addButton">
                      <button type="button" class="btn btn-secondary" (click)="add()" id="btnAddVehicle">+</button>
                  </div>
-->
                  <table class="table table-bordered table-hover" id="oferta-table">

                      <thead>

                          <tr>

                              <th  class="nombreLista" style="background-color: rgb(63,81,181);" >
                                  Nombre del Puesto Ofertado
                              </th>
                              <th class="nombreLista" style="background-color:rgb(63,81,181);">
                                  Nombre de la Organización
                              </th>
                              <th class="nombreLista" style="background-color: rgb(63,81,181);">
                                  Medio de Contacto
                              </th>
                              <th class="nombreLista" style="background-color:rgb(63,81,181);">
                                  Fecha Caducidad Oferta
                              </th>
                              <th class="nombreLista" style="background-color: rgb(63,81,181);">
                                  Acción
                              </th>
                          </tr>

                      </thead>

                      <tbody id="ofertasLaborales-tbody">

                          <tr *ngFor="let o of ofertaLaboral">
                              <td scope="row">{{o.nombrePuesto}} </td>
                              <td scope="row">{{o.organizacion.nombre}} </td>
                              <td scope="row">{{o.organizacion.correo}} </td>
                              <td scope="row">{{o.periodoVisibilidad}} </td>

                              <td scope="row"  fxLayout="row"  fxLayoutAlign="space-evenly start" fxLayoutGap="1rem">
                                <button mat-mini-fab color="primary" class="botonesLista" >CO</button>
                                <button mat-mini-fab color="primary" class="botonesLista" (click)="modificarOfertaLaboral(o.id)">MO</button>
                                <button mat-mini-fab color="primary" class="botonesLista">EO</button>

                            </td>
                              <!--td scope="row"><button mat-mini-fab color="primary" routerLink="/user-update/{{o.id}}">+</button> </td-->


                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</section>
