<mat-toolbar color= "primary">
  <a mat-button routerLink="listar_docentes">
      <mat-icon>list</mat-icon>
      Personal Docente
  </a>

  <a mat-button routerLink="modificarOfertaLaboral">
    <mat-icon>list</mat-icon>
    Modificar Oferta Laboral
</a>

<a mat-button routerLink="listarOferta">
  <mat-icon>list</mat-icon>
  listar Oferta Laboral
</a>


  <a mat-button href="https://github.com/PacktPublishing/Learning-Angular-9--Third-Edition/tree/master/ch13" target="_blank">
      <mat-icon>code</mat-icon>
      Código fuente
  </a>
</mat-toolbar>
