<div  fxLayout="column" fxLayoutAlign="space-around center">
  <strong>Modificar   {{nombre}}</strong>
<mat-form-field  appearance="fill">
  <mat-label>Datos</mat-label>
  <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            [(ngModel)]="viejo"
            readonly onmousedown="return false;"></textarea>
</mat-form-field>



<mat-form-field  appearance="fill">
  <mat-label>Nuevos datos</mat-label>
  <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            [(ngModel)]="nuevo"></textarea>
</mat-form-field>

<div fxLayoutGap="1rem">
<button mat-button color="primary" (click)="guardarDatos()">Guardar</button>
<button mat-button color="primary" (click)="salir()">Salir</button>
</div>
</div>
