<div  fxLayout="column" fxLayoutAlign="space-around center">
  <strong>Modificar</strong>
<mat-form-field  appearance="fill">
  <mat-label>Datos</mat-label>
  <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            [(ngModel)]="viejo"></textarea>
</mat-form-field>



<mat-form-field  appearance="fill">
  <mat-label>Nuevos datos</mat-label>
  <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            [(ngModel)]="nuevo"></textarea>
</mat-form-field>

<button mat-button color="primary" (click)="guardarDatos()">Guardar</button>
</div>
