
<div class="modificar-container" fxLayout="column" fxLayoutAlign="center none" >
  <h1 class="textTittle">Módulo de modificación de oferta laboral</h1>

  <!--form class="ofertaLaboral-form" -->


  <div  fxLayout="row" fxLayoutAlign="center none" fxLayoutGap="8rem">


      <div  fxLayout="column"  fxLayoutAlign="space-evenly start" fxLayoutGap="1rem"  >
        <h1 >Información del puesto:</h1>


        <mat-form-field class="imput-data-large" >
         <mat-label>Nombre del puesto</mat-label>
         <input matInput  [(ngModel)]="ofertaLaboral.nombrePuesto">
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="8rem" >
            <mat-form-field class="imput-data">
             <mat-label>Numero de vacantes</mat-label>
             <input matInput [(ngModel)]="ofertaLaboral.numVacante" >
            </mat-form-field>

             <mat-form-field class="imput-data" >
              <mat-label>Disponible hasta</mat-label>
              <input matInput [(ngModel)]="ofertaLaboral.periodoVisibilidad" >
             </mat-form-field>
        </div>


        <div fxLayout="row" fxLayoutGap="8rem" fxLayoutAlign="space-between none">
          <mat-form-field class="imput-data">
           <mat-label>Tipo de jornada</mat-label>
           <input matInput [(ngModel)]="ofertaLaboral.tipoJornada" >
          </mat-form-field>

           <mat-form-field class="imput-data" >
            <mat-label>Extension del contrato</mat-label>
            <input matInput [(ngModel)]="ofertaLaboral.extensionContrato" >
           </mat-form-field>
      </div>


       <!-- <mat-form-field class="imput-data-large" >
          <mat-label>Enlace de inscripcion</mat-label>
          <input matInput [(ngModel)]="ofertaLaboral.enlaceInscripcion">
         </mat-form-field>-->



         <h1 >Información de la organización:</h1>


         <mat-form-field class="imput-data-large" >
          <mat-label>Nombre de la organizacion</mat-label>
          <input matInput [(ngModel)]="ofertaLaboral.organizacion.nombre">
         </mat-form-field>



         <mat-form-field class="imput-data-large" >
           <mat-label>Correo de contacto</mat-label>
           <input matInput [(ngModel)]="ofertaLaboral.organizacion.correo">
          </mat-form-field>


         <mat-form-field class="imput-data-large" >
          <mat-label>Telefono de contacto</mat-label>
          <input matInput [(ngModel)]="ofertaLaboral.organizacion.telefono">
         </mat-form-field>


      </div>




      <div  fxLayout="column" fxLayoutAlign="space-around center" >
            <h1 >Requisitos para el puesto:</h1>
            <mat-card-content class="mat-card-content-container">
              <strong>Idioma</strong>
              <div  fxLayoutAlign="end end"  >
                <button mat-mini-fab color="primary" (click)="openDialogIdioma()">+</button>
              </div>
            </mat-card-content>

            <mat-card-content class="mat-card-content-container">
              <strong>Habilidades</strong>
              <div  fxLayoutAlign="end end"  >
                <button mat-mini-fab color="primary" (click)="openDialogHabilidades()">+</button>
              </div>
            </mat-card-content>

            <mat-card-content class="mat-card-content-container">
              <strong>Habilidades Blandas</strong>
              <div  fxLayoutAlign="end end"  >
                <button mat-mini-fab color="primary" (click)="openDialogHabilidadesBlandas()">+</button>
              </div>
            </mat-card-content>


            <mat-card-content class="mat-card-content-container">
              <strong>Certificados</strong>
              <div  fxLayoutAlign="end end"  >
                <button mat-mini-fab color="primary" (click)="openDialogCertificados()">+</button>
              </div>
            </mat-card-content>

            <mat-card-content class="mat-card-content-container">
              <strong>Experiencia Laboral</strong>
              <div  fxLayoutAlign="end end"  >
                <button mat-mini-fab color="primary"  (click)="openDialogCertificadosExperienciaLaboral()">+</button>
              </div>
            </mat-card-content>



      </div>








  </div>
  <div fxLayout="row" class="btnGuardar" fxLayoutGap="8rem" fxLayoutAlign="center center" >

    <p class="mod" > {{messageMod}}</p>
  </div>



  <div fxLayout="row" class="btnGuardar" fxLayoutGap="8rem" fxLayoutAlign="center center" >

    <button mat-raised-button color="primary"(click)="saveUpdate()">Guardar cambios</button>
  </div>


<!--/form-->
</div>
